@page "/new"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ISnippetData _db
@inject NavigationManager _nav

<h1>@newSnippet.Title</h1>

<input class="title" @oninput="HandleOnChange_Title" value="@newSnippet.Title" placeholder="Untitle" />
<textarea id="snippetTextbox" class="form-control" @oninput="HandleOnChange_Snippet" value="@newSnippet.Snippet"/>
<div class="buttons">
    <button class="btn btn-success" @onclick="Save">Save</button>
    <button class="btn btn-warning" @onclick="NavigateBack">Discard</button>
</div>


@code {
    private SnippetModel newSnippet = new();

    protected override async Task OnInitializedAsync()
    {
        newSnippet.Title = "Untitle";
    }

    private void HandleOnChange_Snippet(ChangeEventArgs args)
    {
        newSnippet.Snippet = args.Value.ToString();
    }

    private void HandleOnChange_Title(ChangeEventArgs args)
    {
        newSnippet.Title = args.Value.ToString();
    }

    protected async Task Save()
    {
        SnippetModel s = new()
        {
            Title = newSnippet.Title,
            Snippet = newSnippet.Snippet,
            CreatedTime = DateTime.Now,
            ModifyTime = DateTime.Now
        };

        await _db.InsertSnippet(s);

        newSnippet = new SnippetModel();

        _nav.NavigateTo("/SnippetList");
    }

    protected void NavigateBack()
    {
        _nav.NavigateTo("/SnippetList");
    }
}
